.skeleton-container {
    width: 100%;
    max-width: 1000px; 
    margin: 0 auto;
    padding: 5%;
  }
  
  .skeleton-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
  }
  
  .skeleton-content {
    width: 500px; 
    height: 100px; 
    background-color: #B5C99A; 
    border-radius: 4px;
    margin-right: 10px; 
  }
  
  .skeleton-content:last-child {
    margin-right: 0;
  }
  